@{
  Layout="_Layout";
}

<h1>Welcome To Eau Claire's Salon Hub</h1>

<nav class="navbar">
  <ul>
    <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
    <li>@Html.ActionLink("Stylists", "Index", "Stylists")</li>
  </ul>
</nav>