@{
  Layout="_Layout";
}

@model HairSalon.Models.Client

<h2>Delete Client</h2>
<p>Make sure you really want to delete this client</p>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete"/>
}

<p>@Html.ActionLink("Back to List", "Index")